@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Bungee+Shade&family=Source+Code+Pro:wght@300&display=swap');

body {
  display: grid;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(#065e79,#e25b17);
  color: white;
}

header {
  display:flex;
  margin-top: 10px;
}

.warTitle {
  width: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 150px;
}

.gameScreen {
  display: none;
  background: #003049;
  padding-left: 20px;
  padding-bottom: 10px;
  width: 100%;
  height: 95%;
  text-align: center;
  justify-content: center;
}

.title {
  font-family: Marcellus;
  color: rgb(248, 185, 113);
  font-size: 40px;
  margin-left: 10px;
  margin-top: 0px;
  border: groove;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  text-align: center;
  padding: 3px;
  border-color: rgb(248, 185, 113);
}

.gameScreenTitle {
  display: flex;
  position: absolute;
  left: 20px;
  cursor: pointer;
}

.gsWarTitle {
  width: 100px;
  text-align: left;
  display: flex;
  height: 40px;
}

.gsTitle {
  font-family: Marcellus;
  color: rgb(218, 165, 32);
  font-size: 15px;
  margin-left: 0px;
  margin-top: 0px;
  border: groove;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 3px;
  border-color: rgb(218, 165, 32);
}

.homeScreen {
  margin-top: 30px;
  text-align: center;
}

.pNameInput {
  text-align: center;
  margin-top: 150px;
  margin-left: 110px;
  font-size: 25px;
  display: flex;
}

.playBtn {
  text-align: center;
  background: linear-gradient(180deg,#3c5964 0%, #293d43 120%);
  padding: 20px;
  font-size: 35px;
  width: 200px;
  display: block;
  position: relative;
  margin-top: 40px;
  margin-left: 150px;
  cursor: pointer;
}
.playBtn:hover,#homeRulesBtn:hover,#homeSettingsBtn:hover {
  background: linear-gradient(180deg,#e87e0d 0%,#a9420f 130%);
}

.homeRulesBtn {
  text-align: center;
  background: linear-gradient(180deg,#3c5964 0%, #293d43 120%);
  padding: 10px;
  font-size: 25px;
  display: block;
  margin-left: -450px;
  margin-top: 50px;
  cursor: pointer;
}

.homeSettingsBtn {
  text-align: center;
  background: linear-gradient(180deg,#3c5964 0%, #293d43 120%);
  padding: 10px;
  font-size: 25px;
  display: block;
  margin-left: -450px;
  margin-top: 15px;
  cursor: pointer;
}

.cPile,.pPile,.warMsg{
  display: none;
}

.cHand {
  opacity: 0;
}

.pHand {
  opacity: 0;
}

.rulesMsg {
  color: white;
  width: 400px;
  background: #7c9ca5;
  position: absolute;
  top: 50px;
  text-align: left;
  padding: 20px;
  border: groove;
  display: none;
  z-index: 2;
}
.rulesMsg > #howTo {
  color:gold;
  font-size: 30px;
  text-decoration: underline;
  margin-left: 130px;
}
.rulesHeadings {
  font-size: 20px;
  text-decoration: underline;
  text-align: left;
  margin-right: 300px; 
}
#rulesOk {
  text-align: center;
  font-size: 22px;
  padding: 5px;
  border: double;
  margin-left: 170px;
  margin-top: 50px;
  cursor: pointer;
}

.round {
  font-size: 20px;
  margin: 10px;
}

.pPile {
  position: absolute;
  margin-left: 100px;
}

.cDeckContainer,.pDeckContainer,.computerHP,.playerHP {
  display: flex;
}

.cDeckContainer {
  height: 115px;
}

.pDeckContainer {
  height: 115px;
}

.playerHP {
  height: 120px;
}

.pDeck,.cDeck {
  margin-left: 200px;
}

.cPile {
  position: absolute;
  margin-left: 300px;
}

.cHand,.pHand {
  margin-left: 195px;
}

.cDeckCount {
  margin: 10px;
}

.pDeckCount {
  margin: 10px;
  margin-top: 75px;
}

.warMsg {
  background: rgb(2, 2, 2);
  padding: 8px;
  position: absolute;
  text-align: center;
  bottom: 400px;
  left: 150px;
}

.winMsgContainer {
  text-align: center;
  padding: 10px;
  width: 400px;
  font-size: 40px;
  height: 150px;
  position: absolute;
  top: 250px;
  right: 500px;
  border: groove;
  display: none;
}

.settingsContainer {
  color: white;
  width: 510px;
  background: #7c9ca5;
  position: absolute;
  top: 50px;
  margin-left: -90px;
  text-align: center;
  padding: 20px;
  border: groove;
  display: none;
  z-index: 2;
}
.settingsTitle {
  color:rgb(0, 0, 0);
  font-size: 30px;
  text-decoration: underline;
  display: flex;
  text-align: center;
  padding: 5px;
  margin-left: 200px;
  margin-bottom: 40px;
}
.soundSettings {
  display: flex;
  color: rgb(245, 245, 244);
  font-size: 20px;
}
.soundOn,.soundOff {
  width: 50px;
  cursor: pointer;
  margin-left: 230px;
  position: absolute;
}
.soundOff {
  display: none;
}
.warMusicSettings {
  display: flex;
  color: rgb(248, 248, 248);
  font-size: 20px;
  margin-top: 40px;
}
.warMusicOn,.warMusicOff {
  width: 50px;
  cursor: pointer;
  margin-left: 230px;
  position: absolute;
}
.warMusicOn {
  display: none;
}
#settingsOk {
  text-align: center;
  font-size: 22px;
  padding: 5px;
  border: double;
  margin-left: 230px;
  margin-top: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 50px;
}

.playAgainBtn {
  margin-top: 30px;
  text-align: center;
  background: linear-gradient(180deg,#7f9aa5 0%, #065e79 100%);
  font-size: 25px;
  cursor: pointer;
}
.playAgainBtn:hover {
  background: linear-gradient(180deg,#a1c5d3 0%, #10a5d3 100%);
}

.roundsRemain {
  background: black;
  text-align: center;
  padding: 10px;
  width: 200px;
  position: absolute;
  top: 300px;
  right: 170px;
  border: groove;
  font-size: 20px;
  display: none;
}

.btns {
  text-align: center;
  background: linear-gradient(180deg,#219ebc 0%, #023047 120%);
  padding: 10px;
  font-size: 2ch;
  cursor: pointer;
  margin: 15px;
  margin-bottom: 30px;
}
.btns:hover {
  background: linear-gradient(180deg,#e87e0d 0%,#a9420f 130%);
}

.cName {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  margin-bottom: 25px;
  font-family: Marcellus;
}

.computer {
  display: flex;
  justify-content: right;
  margin-right: 20px;
}
.cIcon {
  width: 50px;
}

.player {
  display: flex;
  justify-content: left;
  margin-left: 10px;
}
.pIcon {
  width: 50px;
}



/* ------------ Color themes ------------ */
.bgHeading {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
  display: flex;
  margin-top: 50px;
  color: rgb(0, 0, 0);
}

/* Fiery Ocean (default) */
.fieryOceanBody {
  background: linear-gradient(#065e79,#e25b17);
  color: white;
}
.fieryOceanBtns {
  background:linear-gradient(180deg,#3c5964 0%, #293d43 120%);
  color: black;
}
.bgFOContainer {
  margin-top: 15px;
  text-align: left;
}
#bgFO1 {
  width: 100px;
  margin-left: 50px;
  margin-top: 40px;
  cursor: pointer;
}
#bgFO2 {
  width: 170px;
  margin-left: 20px;
  display: none;
}

/* black and yellow */
.blackYellowBody {
  background: linear-gradient(#293d43,#101820FF);
  color: #FEE715FF;
}
.blackYellowBtns {
  background:rgb(233, 218, 12);
  color: black;
}
.bgBlackYellowContainer {
  margin-top: 30px;
  text-align: left;
}
#bgBY1 {
  width: 100px;
  margin-left: 100px;
  margin-top: 50px;
  cursor: pointer;
}
#bgBY2 {
  width: 170px;
  margin-left: 20px;
  display: none;
}
