body {
  display: grid;
  margin: 20px;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.title > h1 {
  display: inline-block;
}

.infoBtn {
  width: 50px;
}
.cPile,.pPile,.pHand,.cHand,.warMsg {
  display: none;
}

.round {
  font-size: 20px;
  margin: 10px;
}
.btns {
  margin: 20px;
}
