@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Bungee+Shade&family=Source+Code+Pro:wght@300&display=swap');

body {
  display: grid;
  margin: 20px;
  justify-content: center;
  height: 100vh;
  width: 100%;
  /* background-image: linear-gradient(180deg, #985E6D 0%, #494E6B 50%,#192231 100%); */
  background: rgb(37, 37, 37);
  color: white;
}

header {
  display:flex;
}

.warTitle {
  width: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.gameScreen {
  display:none;
}

.title {
  font-family: Marcellus;
  color: rgb(218, 165, 32);
  font-size: 40px;
  margin-left: 10px;
  margin-top: 0px;
  border: groove;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  text-align: center;
  padding: 3px;
  border-color: rgb(218, 165, 32);
}
/* 
.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  z-index: 999;
  margin-top: 20px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

.navbarMenu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbarLinks {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  height: 100%;
  text-decoration: none;
  cursor: pointer;
}
.navbarLinks:hover {
  color: rgb(218, 165, 32);;
  transition: all 0.3s ease;
} */

.homeScreen {
  margin-top: 30px;
  text-align: center;
}

.pNameInput {
  text-align: center;
  margin-top: 100px;
  font-size: 25px;
  display: flex;
}

.playBtn {
  text-align: center;
  background: linear-gradient(180deg,#3c5964 0%, #293d43 120%);
  border-radius: 20%;
  padding: 20px;
  font-size: 40px;
  display: block;
  position: relative;
  margin-top: 40px;
  margin-left: 150px;
  cursor: pointer;
}
.playBtn:hover,.homeRulesBtn:hover,.homeSettingsBtn:hover {
  background: linear-gradient(180deg,#e87e0d 0%,#a9420f 130%);
}

.homeRulesBtn {
  text-align: center;
  background: linear-gradient(180deg,#3c5964 0%, #293d43 120%);
  border-radius: 20%;
  padding: 20px;
  font-size: 30px;
  display: inline;
  margin-left: 120px;
  cursor: pointer;
}

.homeSettingsBtn {
  text-align: center;
  background: linear-gradient(180deg,#3c5964 0%, #293d43 120%);
  border-radius: 20%;
  padding: 20px;
  font-size: 30px;
  margin-top: 150px;
  display: inline;
  margin-left: 100px;
  cursor: pointer;
}


.cPile,.pPile,.pHand,.cHand,.warMsg,.winMsg{
  display: none;
}

.rulesMsg {
  color: white;
  width: 400px;
  background: #7c9ca5;
  position: absolute;
  top: 50px;
  text-align: left;
  padding: 20px;
  border: groove;
  display: none;
}
.rulesMsg > #howTo {
  color:gold;
  font-size: 30px;
  text-decoration: underline;
  margin-left: 130px;
}
.rulesHeadings {
  font-size: 20px;
  text-decoration: underline;
  text-align: left;
  margin-right: 300px; 
}
#ok {
  text-align: center;
  font-size: 22px;
  padding: 5px;
  border: double;
  margin-left: 170px;
  margin-top: 50px;
  cursor: pointer;
}

.round {
  font-size: 20px;
  margin: 10px;
}

.btns {
  margin: 20px;
}

.computerHP {
  display: flex;
}

.playerHP {
  display: flex;
}

.pPile {
  text-align: left;
}

.cDeckContainer,.pDeckContainer {
  display: flex;
}

.cDeckCount {
  margin: 10px;
}

.pDeckCount {
  margin: 10px;
  margin-top: 75px;
}

.warMsg {
  background: rgb(214, 167, 67);
  padding: 8px;
  position: absolute;
  text-align: center;
  bottom: 200px;
  left: 200px;
}

.suddenDeath {
  background: black;
  text-align: center;
  padding: 20px;
  width: 400px;
  position: absolute;
  top: 300px;
  right: 200px;
  border: groove;
  display: none;
}
.suddenDeath > span {
  font-size: 30px;
  text-decoration: underline;
}
